[flake8]
ignore=
    # TODO: undefined name 'name'
    F821
    # TODO: expected 2 blank lines after class or function definition
    E305
    # TODO: too many leading '#' for block comment
    E266
    # do not use bare 'except'
    E722
    # Module level import not at top of file
    E402,
    # This is not PEP8-compliant and conflicts with black.
    E501,
    E231,
    E203,
    W503,
    W504,
    SIM106,
    SIM110,
    SIM111,
    # Allow f-strings
    SFS301,
    # Allow .format
    SFS201
    # https://pypi.org/project/flake8-future-import/
    FI1
exclude=migrations/versions