version: "3.7"
services:
  redis:
    image: redis:4.0.6
    expose:
      - 6379

  mysql:
    image: mysql/mysql-server:${MYSQL_VERSION-8.0.27}
    environment:
      MYSQL_ROOT_PASSWORD: nylas_it
      MYSQL_ROOT_HOST: "%"
      MYSQL_USER: inboxtest
      MYSQL_PASSWORD: inboxtest
      MYSQL_DATABASE: synctest
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1

  postgres:
    image: postgres:13.7
    environment:
      POSTGRES_PASSWORD: postgres

  minio:
    image: closeio/minio:branch-main
    hostname: sync-engine.minio
    environment:
       - MINIO_ROOT_USER=sync-engine
       - MINIO_ROOT_PASSWORD=sync-engine
       - MINIO_BUCKET_NAME=sync-engine
       - MINIO_DOMAIN=minio

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/opt/app
      - ipython_data_local:/root/.ipython/profile_default
    user: root
    depends_on:
      - redis
      - mysql
      - postgres
      - minio

  # for running code formatting, isort
  devtools:
    image: circleci/python:3.7
    working_dir: /src
    volumes:
      - .:/src

volumes:
  ipython_data_local: {}
