version: "3.7"
services:
  redis:
    image: redis:4.0.6
    expose:
      - 6379

  mysql:
    image: mysql:5.7.31
    environment:
      MYSQL_ROOT_PASSWORD: nylas_it
      MYSQL_USER: inboxtest
      MYSQL_PASSWORD: inboxtest
      MYSQL_DATABASE: synctest
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1

  minio:
    image: closeio/minio:branch-main
    hostname: sync-engine.minio
    environment:
       - MINIO_ROOT_USER=sync-engine
       - MINIO_ROOT_PASSWORD=sync-engine
       - MINIO_BUCKET_NAME=sync-engine
       - MINIO_DOMAIN=minio

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/opt/app
    user: root
    depends_on:
      - redis
      - mysql
      - minio

  # for running code formatting, isort
  devtools:
    image: circleci/python:3.6
    working_dir: /src
    volumes:
      - .:/src
