version: 2.1
jobs:
  static-code-analysis:
    docker:
      - image: circleci/python:3.7
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS
    working_directory: ~/code
    steps:
      - checkout

      - run:
          name: Prepare Environment
          command: |
            sudo -E pip install --no-deps -r requirements/lint.txt

      - run:
          name: black
          when: always
          command: black --check .

      - run:
          name: isort
          when: always
          command: isort -c .

      - run:
          name: flake8
          command: flake8

  build:
    parameters:
      platform_suffix:
        type: enum
        default: ""
        description: Platform tag, empty means amd64
        enum: ["", "-arm64"]
      resource_class:
        type: enum
        default: "medium"
        description: Resource class
        enum: ["medium", "arm.medium"]
      run_tests:
        type: boolean
        default: true
        description: Set to false to disable tests
      push_image:
        type: boolean
        default: true
        description: Set to false to disable pushing image
    machine:
      image: ubuntu-2004:202101-01
    resource_class: <<parameters.resource_class>>
    working_directory: ~/sync-engine

    steps:
      - checkout

      - run:
          name: Prepare Backend environment
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS

            if [ "$(git log -1 --pretty=%B | head -n 1 | grep '#notests')" ]; then
              echo 'export SKIP_TESTS="1"' >> $BASH_ENV
            fi

      - run:
          name: build sync-engine image
          command: docker-compose build --build-arg BUILD_WEEK=$(date +"%Y-%V") app

      - when:
          condition: << parameters.run_tests >>
          steps:
            - run:
                name: run tests
                command: |
                  if [[ -z $SKIP_TESTS ]]; then
                    MYSQL_VERSION=8.0.28 docker-compose run app bash -ec '
                      bin/wait-for-it.sh mysql:3306 \
                      && pytest --cov-report= --cov=inbox tests/ \
                      && coverage html -d pythoncov
                    '
                  else
                    echo Skipping tests
                  fi
      
      - when:
          condition: << parameters.push_image >>
          steps:
            - run:
                name: Push the image to docker hub
                environment:
                  PROJECT: sync-engine
                  PROJECT_NAMESPACE: closeio
                command: |
                  PROJECT_VSN="$CIRCLE_BRANCH"
                  PROJECT_SHA="$CIRCLE_SHA1"
                  docker login -u $DOCKER_USER -p $DOCKER_PASS
                  # tag and push both sync-engine:master and sync-engine:<sha1>
                  docker tag "${PROJECT}_app" "${PROJECT_NAMESPACE}/${PROJECT}:branch-${PROJECT_VSN}<< parameters.platform_suffix >>"
                  docker tag "${PROJECT}_app" "${PROJECT_NAMESPACE}/${PROJECT}:${PROJECT_SHA}<< parameters.platform_suffix >>"
                  docker push "${PROJECT_NAMESPACE}/${PROJECT}:branch-${PROJECT_VSN}<< parameters.platform_suffix >>"
                  docker push "${PROJECT_NAMESPACE}/${PROJECT}:${PROJECT_SHA}<< parameters.platform_suffix >>"

      - when:
          condition: << parameters.run_tests >>
          steps:
            - store_artifacts:
                path: pythoncov

            - store_artifacts:
                path: .circleci/artifacts.html
                destination: artifacts.html

workflows:
  version: 2
  workflow:
    jobs:
      - static-code-analysis
      - build:
          name: build
      - build:
          name: build_arm
          resource_class: "arm.medium"
          platform_suffix: "-arm64"
          run_tests: false
