name: Build and Release

on:
  push:
    branches:
      - '*'

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  PROJECT: sync-engine
  # TODO: Remove this after migration
  TAG_SUFFIX: "-gha"

jobs:
  static-code-analysis:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements/lint.txt

      - name: Run Black
        run: black --check .
      
      - name: Run isort
        run: isort -c .

      - name: Run flake8
        run: flake8
         

  build-amd64:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - build_name: py2.7
            dockerhub_push: true
            python_version: "2.7"
            run_tests: true
          - build_name: py3.6
            dockerhub_push: true
            python_version: "3.6"
            run_tests: true
          - build_name: py3.7
            dockerhub_push: false
            python_version: "3.7"
            run_tests: true
          - build_name: py3.8
            dockerhub_push: true
            python_version: "3.8"
            run_tests: true
          - build_name: py3.9
            dockerhub_push: false
            python_version: "3.9"
            run_tests: true
  
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Short SHA
        id: vars
        run: |
          echo ::set-output name=sha_short::${GITHUB_SHA::16}
        shell: bash

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker context for Buildx
        id: buildx-context
        run: |
          docker context create container-builder

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          endpoint: container-builder

      - name: Login to DockerHub
        # if: ${{ github.ref == 'master' && github.event.pull_request.merged == true }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push containers
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          push: ${{ matrix.dockerhub_push }}
          build-args:
            PYTHON_VERSION=${{ matrix.python_version }}
          tags: |
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.PROJECT }}:${{ steps.vars.outputs.sha_short }}-${{ matrix.build_name}}${{ env.TAG_SUFFIX }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
