name: Build arm64

on:
  push:
    branches:
      - '*'

concurrency:
  group: build-arm64-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DOCKERHUB_NAMESPACE: closeio
  PROJECT: sync-engine

jobs:
  build-arm64:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - arch: arm64
  
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get short sha
        id: vars
        run: |
          echo ::set-output name=sha_short::${GITHUB_SHA::16}
        shell: bash

      - name: Prepare environment
        run: |
          if [ "$(git log -1 --pretty=%B | head -n 1 | grep '#notests')" ]; then
            echo 'SKIP_TESTS="1"' >> $GITHUB_ENV
          fi
          echo "DOCKER_IMAGE_TAG=${{ env.DOCKERHUB_NAMESPACE }}/${{ env.PROJECT }}:${{ steps.vars.outputs.sha_short }}-${{ matrix.arch }}" >> $GITHUB_ENV
        shell: bash
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker context for Buildx
        id: buildx-context
        run: |
          docker context create container-builder

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          endpoint: container-builder

      - name: Login to DockerHub
        # if: ${{ github.ref == 'master' && github.event.pull_request.merged == true }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push sync-engine images
        uses: docker/build-push-action@v5
        with:
          platforms: linux/${{ matrix.arch }}
          push: false
          load: true
          tags: |
            ${{ env.DOCKER_IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push image
        run: |
          docker push ${{ env.DOCKER_IMAGE_TAG }}