name: Build and Release

on: [push]

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - arch: "amd64"
  
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Short SHA
        id: vars
        run: |
          echo ::set-output name=sha_short::${GITHUB_SHA::16}
        shell: bash

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker context for Buildx
        id: buildx-context
        run: |
          docker context create container-builder

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          endpoint: container-builder

      - name: Login to DockerHub
        if: ${{ github.ref == 'master' && github.event.pull_request.merged == true }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}